/** BEGIN default styles */

body {
    background: #88ABC2;
    color: #EBF7F8;
}

body {
  padding: 10px;
}


/** END default styles */

.thumb {
  height: 80px;
  width: 80px;
/*   border: 1px solid #000; */
  margin: 5px 5px 5px 5px;
}

.upload_div {
  width:250px;
  float:left;
}

.upload_div output {
  float:left;
}

.upload_div span {
  font-weight:bold;
}

input[type=file] {
  width:150px;
  margin-top:5px;
}
input[type=text] {
  width:100px;
  margin-top:5px;
}

.domino_div {
/*   border: 1px solid #000; */
  float:left;
  margin: 20px 5px 5px 5px; /* top: 20px; */
}

.domino_div img {
/*   border: 1px solid red; */
/*   height: 10mm; */
/*   width: 10mm; */
  margin:0px;
  padding:0px;
  float:left;
}

.domino_div .output {
    background-color: white; /* the background of the page must not be seen through */
}

/* the upper part of the domino looks a bit brighter (opacity) and is rotated. */
.upper {
  opacity:0.9;
   transform: rotate(180deg);
}

.btn_print {
  margin-top: 5px;
}

.inp_width {
  width: 3em;
}

input:invalid {
  color:red;
}

.with_frame .domino_div {
  border:1mm dotted #777;
}

.cropContainer {
    width:100%;
}
.container {
    width: 400px;
    height: 400px;
    margin: 0 auto; /* center */
}