

/* common styles ============================================================== */

.long-heading {
    padding-left:80px;
    text-indent: -75px;
}    

super.hint_upload_images a {
    color:black;
}

super.hint_upload_images a:hover {
    color:blue;
    text-decoration:none;
}

/* section "intro" ============================================================== */

.intro-header {
    background: url(../img/Domino_whale-bone_hg_1900x1267_low_bright_contr_q20.jpg) no-repeat center center !important;
}

/* section "Design your own dominoes " and "Five steps to your tiles" ======================================== */

/* vertical alignment for images: flex model is appropriate. we override the float approach of bootstrap */
@media (min-width: 768px) {
    .dd-lg-flex-box {
        display: flex;
        align-items: center;
    }
    .dd-lg-flex-box .dd-lg-flex-item {
        float:none !important;
        flex:1;
        max-width: 50%; /* for FF */  
    }
}

/* section "choose no. of dominoes" ============================================================== */

.step-number {
    border:1px solid grey;
    padding: 10px 20px 10px 20px;
    margin-right: 10px;
}

.div_num_symbols {
    text-align: center;
}
.div_num_symbols button {
    display: inline-block;
    font-size: 36px;
    width: 70px;
}


/* section "Upload images" ===================================================================== */
.div_upload_divs_container {
    text-align: center;    
}

.div_upload_divs {
    text-align: center;    
    display:inline-block;
/*     margin-left: auto ; margin-right: auto ; center */
}

.upload_div {
  margin-right:5px;
  display:inline-block;
}

.thumb {
  height: 80px;
  width: 80px;
}

/* section "Crop container" ===================================================================== */
.placeholder_for_crop_container {
    margin-top:20px;
}

.cropContainer {
    text-align:center;
    width:100%;
}
.cropContainer .container {
    width: 400px;
    height: 400px;
    margin: 0 auto; /* center */
}
.btn-crop {
    display: inline-block;
    margin-top:10px;
}

/* section "Set print options" ===================================================================== */

.print_form label {
    margin-right:10px;
    font-weight: 700;
}

/* section "Results and Print" ===================================================================== */

.domino_div {
/*   border: 1px solid #000; */
  float:left;
  margin: 20px 5px 5px 5px; /* top: 20px; */
}

.domino_div img {
/*   border: 1px solid red; */
/*   height: 10mm; */
/*   width: 10mm; */
  margin:0px;
  padding:0px;
  float:left;
}

.domino_div .output {
    background-color: white; /* the background of the page must not be seen through */
}

/* the upper part of the domino is rotated. */
.upper {
  transform: rotate(180deg);
}

.with_frame .domino_div {
  border:1mm dotted #777;
}

.domino_div output {
    padding-top:0px;
}

.print_button_div {
    text-align: center;    
}

.print_button_div .domino_results {
    display: inline-block;
}

.print_button_div button{
    margin-top: 20px;    
}

/* footer ===================================================================== */

footer {
    background-color: #f0f0f0 !important; /* a bit darker than the grey of section 'b' */
}

.copyright a {
	color:black;
}