.thumb {
  height: 80px;
  width: 80px;
/*   border: 1px solid #000; */
  margin: 5px 5px 5px 5px;
}

.upload_div {
  width:250px;
  float:left;
}

.upload_div output {
  float:left;
}

.upload_div span {
  font-weight:bold;
}

input[type=file] {
  width:150px;
  margin-top:5px;
}
input[type=text] {
  width:100px;
  margin-top:5px;
}

.domino_div {
/*   border: 1px solid #000; */
  float:left;
  margin: 20px 5px 5px 5px; /* top: 20px; */
}

.domino_div img {
/*   border: 1px solid red; */
/*   height: 10mm; */
/*   width: 10mm; */
  margin:0px;
  padding:0px;
  float:left;
}

.upper {
  opacity:0.9;
}

.btn_print {
  margin-top: 5px;
}

.inp_width {
  width: 3em;
}

input:invalid {
  color:red;
}

.with_frame .domino_div {
  border:1mm dotted #777;
}
